# OpenAI
OPENAI_API_KEY=sk-xxxxx...

# Vertex AI Configuration
VERTEXAI_PROJECT=robot-adk-agent
VERTEXAI_LOCATION=global

# Azure OpenAI Configuration (Updated from your curl)
AZURE_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AZURE_API_BASE=https://XXXXXXX.openai.azure.com/
AZURE_API_VERSION=


# AWS Bedrock Configuration
AWS_BEARER_TOKEN_BEDROCK=
AWS_REGION=us-east-1

# LiteLLM Master Key
LITELLM_MASTER_KEY=jcancjasnjcsancjsnjr423242

# Database Configuration
POSTGRES_DB=litellm
POSTGRES_USER=llmproxy
POSTGRES_PASSWORD=dbpassword9090

# Development Configs
STORE_MODEL_IN_DB=True
